PortCE config file

# version information

version_date: 2015/01/01
version_major: 0
version_minor: 0
version_patch: 0
version_tag:

# library settings

clock_speed: 1.0
clock_date: current

# window settings

window_scale: 2
full_screen: false
bootup_display: automatic

# LCD settings

integer_scaling: false
stretch_frames: false
linear_interpolation: false
